[type="checkbox"] {
	display: none;
}
[type="checkbox"] + label {
	display: inline-block;
	padding: 0 .2em;
	border-width: .1em;
	border-style: solid;
	line-height: 1.4;
}
:checked + label {
	border-bottom-width: .3em;
}

#clubs {
	position: relative;
	overflow: hidden;
	line-height: 1;
	margin-top: .5em;
	--unit: calc(1% / .76);
}
#clubs ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#clubs #bars {
	margin-left: calc(-44 * var(--unit));
	width: 100%;
}
#bars li {
	white-space: nowrap;
	margin-bottom: .1em;
}
#spo:not(:checked) ~ #clubs .spo,
#cul:not(:checked) ~ #clubs .cul,
#act:not(:checked) ~ #clubs .act,
#sus:not(:checked) ~ #clubs .sus,
#abo:not(:checked) ~ #clubs .abo {
	display: none;
}

#bars span {
	display: inline-block;
	width: calc(var(--length, 999) * var(--unit));
	margin-left: calc(var(--start, 0) * var(--unit));
	box-sizing: border-box;
	padding: .1em;
	background-repeat: no-repeat;
}
#bars span:empty::before {
	content: "　";
}

[style*="fade"] {
	/* edgeは#rgbaに対応していない */
	/* safariはtransparent(#0000)を指定すると、グラデーションが黒くなる */
	background-image: linear-gradient(to var(--grad-direction, left), rgba(255,255,255,.75), rgba(255,255,255,0));
	background-position: var(--grad-position, right);
	/* edgeはheight 100%を指定する必要がある */
	background-size: calc(var(--fade-in, var(--fade-out)) / var(--length, 999) * 100%) 100%;
}
[style*="fade-in"] {
	--grad-direction: right;
	--grad-position: left;
}
[style*="integrated"] {
	--height: calc(var(--integrated) * 1.25em - .1em - var(--top) - var(--bottom));
	--top: .4em;
	--bottom: .35em;
	margin: calc(var(--top)) 0 -99em;
	height: var(--height);
	line-height: var(--height);
	vertical-align: top;
}
#media,
#natural {
	position: relative;
	z-index: 0;
	direction: rtl;
	line-height: 1.1;
	--top: .8em;
	border-top: .7em solid transparent;
}

#years,
#columns {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 4em;
}
#years {
	left: calc(-9 * var(--unit));
	width: calc(80 * var(--unit));
	pointer-events: none;
	counter-reset: tickValue 1930;
}
#years li,
#columns li {
	flex: auto;
}
#years li {
	position: relative;
	counter-increment: tickValue 10;
}

#years ::before,
#years ::after,
#columns ::before,
#columns ::after {
	position: absolute;
	height: 1em;
	padding: .1em;
	background-color: #fbfbfb;
}
#years ::after,
#columns ::after {
	bottom: 0;
}
#years ::before,
#years ::after {
	left: 0;
	width: 100%;
	text-align: center;
	content: counter(tickValue);
}
#columns ::before,
#columns ::after {
	right: 0;
	pointer-events: none;
	padding-left: .5em;
	z-index: 1;
}


#columns {
	counter-reset: year 1944 jpYear 19;
}
#columns :not(:first-child) {
	counter-increment: year jpYear;
}
#columns :nth-child(10n-3) {
	border-left: .06rem solid rgba(0,0,0,.2);
	box-sizing: border-box;
}
#columns :hover {
	background-color: rgba(0,0,0,.2);
}

#columns :hover::before,
#columns :hover::after {
	content: counter(year) "年度（"
		var(--era-name, "令和")
		var(--era-year, counter(jpYear)) "年度）";
}
#columns :nth-child(76),  /* 76 - 46 + 1 = 31 令和 */
#columns :nth-child(46) { /* 19 + 46 - 1 = 64 平成 */
	counter-reset: jpYear;
	--era-year: "元"
}
#columns :nth-child(-n+75) {--era-name: "平成";}
#columns :nth-child(-n+45) {--era-name: "昭和";}

:root { /* 配色 Office 2007 - 2010 */
	--act: 212,45%; /* active */
	--sus:  79,41%; /* suspended */
	--abo:   1,47%; /* abolished */
	--spo: 86%; /* 83% sports */
	--cul: 73%; /* 70% culture */
}
[for="act"],
[for="cul"] {border-color: hsl(var(--act),var(--cul));}
[for="spo"] {border-color: hsl(var(--act),var(--spo));}
[for="sus"] {border-color: hsl(var(--sus),var(--cul));}
[for="abo"] {border-color: hsl(var(--abo),var(--cul));}
.act.spo span {background-color: hsl(var(--act),var(--spo));}
.act.cul span {background-color: hsl(var(--act),var(--cul));}
.sus.spo span {background-color: hsl(var(--sus),var(--spo));}
.sus.cul span {background-color: hsl(var(--sus),var(--cul));}
.abo.spo span {background-color: hsl(var(--abo),var(--spo));}
.abo.cul span {background-color: hsl(var(--abo),var(--cul));}