html {
	font: 18px/1.7 Arial,sans-serif;
	overflow-y: hidden;
}
/* iframe(width:100%) */
@media (max-width:423px) { /* parent:~468px */
	html {font-size: 4.26vw;}
}
@media (max-width:425px) { /* parent:~800px */
	p br {display: none;}
}
body {
	margin: 0;
	background-color: hsl(0,0%,99%);
}

a {
	text-decoration: none;
	color: hsl(220,100%,35%);
}
a:hover {
	color: green;
}
a[href*=":"]::after {
	content: "　";
	display: inline-block;
	width: 1em;
	background: center/1.1em no-repeat url(img/linkicon.svg);
}
a[href$=".pdf"]::after {
	width: 2em;
	background-position: -3%, 103%;
	background-image: url(img/PDF_24.png), url(img/linkicon.svg);
}

sub,
sup   {line-height: 0;}
table {border-collapse: collapse;}
label {cursor: pointer;}
cite  {font-style: normal;}
cite::before {content: "『";}
cite::after  {content: "』";}
q::before    {content: "「";}
q::after     {content: "」";}
.clear::after {
	content: "";
	clear: both;
	display: block;
}

[data-tooltip] {
	position: relative;
	white-space: nowrap;
}
[data-tooltip]::before {
	font-size: .9rem;
	position: absolute;
	top: 100%;
	padding: 0 .2em;
	border: 1px #777 solid;
	pointer-events: none;
	z-index: 9;
	font-weight: normal;
	line-height: 1.5;
	color: black;
	box-shadow: .15em .15em .2em rgba(0,0,0,.3);
	background-color: lightyellow;
}
[data-tooltip]:hover::before {
	content: attr(data-tooltip);
}

.origBtn,
.anchorBtns > * {
	display: inline-block;
	padding: 0 .4em;
	border: solid #aaa .05em;
	line-height: 1.8;
	background-color: #e9e9e9;
	text-align: center;
	color: black !important;
}
.origBtn:active,
.anchorBtns > :active {
	background-color: white;
}