#rangeWrapper input {
	max-width: 50%;
	width: 20em;
	float: left;
}
[type="checkbox"] {
	display: none;
}
#displayFrames + label {
	margin-left: .6em;
}
[type="checkbox"] + label {
	float: left;
	margin: 0 0 .4em .4em;
	min-width: 2em;
	padding: 0 .3em;
	text-align: center;
	outline: .1em solid currentcolor;
	outline-offset: -.1em;
	color: #bbb;
}
:checked + label {
	color: midnightblue;
}

#layout {
	position: relative;
	display: none\0; /* IE */
	overflow: hidden;
	width: 100%;
	opacity: 0; /* FOUC */
}
#layout::before {
	content: "";
	display: block;
	padding-top: 100%;
}
#layout img, svg {
	position: absolute;
	top: -11%;
	left: -11%;
	width: 125%;
	height: 125%;
}
#displayFade:checked ~ #layout,
#displayFade:checked ~ #layout img,
#displayFade:checked ~ #layout g text		{transition: opacity .3s linear;}
#displayFade:checked ~ #layout g :not(text)	{transition: opacity .3s linear, fill .3s;}

.lastPhotoWrapper ~ a img {
	opacity: 0;
	pointer-events: none;
}
svg {
	--shadow: drop-shadow(0 0 1.5px white);
	filter: var(--shadow)var(--shadow);
	pointer-events: none;
}
svg * {
	pointer-events: auto;
}
g {
	color: midnightblue;
	cursor: default;
}
[data-captions] {
	cursor: pointer;
}
[data-captions]:hover {
	color: green;
}
g :not(text) {
	fill: transparent;
	stroke-width: 1.5px;
	stroke: currentcolor;
}
g:not(.exists) *,
#displayFrames:not(:checked) ~ #layout g:not(:hover) :not(text),
#displayNames:not(:checked) ~ #layout g:not(:hover) text {
	opacity: 0;
}
g:not(.exists) * {
	pointer-events: none;
}
g:hover :not(text) {
	fill: rgba(255,255,255,.1);
}
text {
	font-size: 18px;
	fill: currentcolor;
	paint-order: stroke;
	stroke: white;
	stroke-width: 1.8px;
}
.large {
	font-size: 25px;
	stroke-width: 2.5px;
}
.vertical {
	writing-mode: vertical-rl;
}
#title,
#year {
	font-size: 35px;
	stroke-width: 6px;
	font-weight: bold;
}
#year {
	text-anchor: middle;
}
#yearTaken,
#source {
	text-anchor: end;
	stroke-width: 3px;
}
#source {
	stroke-width: 2.5px;
	font-size: 20px;
}

#dialog,
#close {
	padding: 0;
	border: none;
	background-color: transparent;
}
#dialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .3s;
	visibility: hidden; /* FOUC */
}
#dialog:not(.open) {
	opacity: 0;
	pointer-events: none;
}
#dialog::before { /* ::backdrop */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	cursor: pointer;
	content: "";
}
#dialog section {
	position: relative;
	width: 36em;
	max-height: 100vh;
	box-sizing: border-box;
	padding: .75em;
	margin: 0;
	overflow: auto;
	background-color: hsl(0,0%,99%);
}
@media (max-width:800px) {
	#dialog section {width: 23em;}
}

#dialog h3 {
	margin-bottom: .5em;
}
#close {
	position: absolute;
	font-size: 1.25em;
	top: .8em;
	right: .8em;
	padding: .1em;
	line-height: 1;
	font-weight: bold;
	cursor: pointer;
}
#close:hover {
	color: green;
}
#slider figure img,
#btns {
	height: 14em;
}