#range {
	float: left;
	width: 16em;
	margin-right: .2em;
}
#fade + label {
	float: left;
	margin: 0 0 .5em .75em;
	padding: 0 .25em;
	border: .1em solid currentColor;
	line-height: 1.5;
	color: silver;
}
#fade:checked + label {
	color: darkblue;
}

#layout {
	overflow: hidden;
	width: calc(var(--additional-width) * 2 + 100%);
	max-width: none;
	margin: calc(var(--additional-width) * -1);
	margin-left: calc(var(--left-offset, -.6em) - var(--additional-width));
	--additional-width: .5em;
	opacity: 0; /* FOUC */
}
@media (max-width:800px) {
	#layout {
		--left-offset: -.1em;
	}
}
#layout::before {
	position: relative;
	padding-top: 100%;
	z-index: 1;
	pointer-events: none;
	--shadow: 0 0 .7em #fbfbfb inset;
	box-shadow: var(--shadow), var(--shadow), var(--shadow);
}
#fade:checked ~ #layout [data-period],
#fade:checked ~ #layout g * {
	transition: opacity .3s linear var(--additional-rule, 0s);
}
#layout img,
#layout svg { /* cssの優先順位 */
	--full-width: calc(100% - var(--additional-width) * 2);
	--offset: calc(-.11 * var(--full-width) + var(--additional-width));
	--width: calc(1.25 * var(--full-width));
	margin: var(--offset) 0 0 var(--offset);
	width: var(--width);
	height: var(--width);
}

[data-period]:not(.exists),
#dialog:not(.open) {
	opacity: 0;
	pointer-events: none;
}
svg {
	--filter: drop-shadow(0 0 1.5px white);
	filter: var(--filter)var(--filter);
	pointer-events: none;
	transform: translateZ(0); /* Firefox */
}
svg * {
	pointer-events: auto;
}
[data-period]:not(.exists) * {
	pointer-events: none;
}
g {
	color: darkblue;
	cursor: default;
}
[data-captions] {
	cursor: pointer;
}
[data-captions]:hover {
	color: green;
}
g :not(text) {
	stroke-width: 1.2px;
	stroke: currentColor;
	fill: transparent;
	--additional-rule: ,fill .3s;
}
g:hover :not(text) {
	fill: rgba(255,255,255,.15);
}
_:lang(x)+_:-webkit-full-screen-document,text:not([writing-mode]){writing-mode:horizontal-bt}/*Safari*/
text {
	font-size: 18px;
	stroke-width: 1.8px;
	stroke: white;
	fill: currentColor;
	paint-order: stroke;
}
.large {
	font-size: 25px;
	stroke-width: 2.5px;
}
#title,
#year {
	font-size: 35px;
	stroke-width: 6px;
}
#dateTaken {
	stroke-width: 4px;
}
#citation {
	font-size: 20px;
	stroke-width: 2.5px;
}

#dialog,
#close {
	padding: 0;
	border: none;
	background-color: transparent;
}
#dialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .3s;
	z-index: 2;
}
#dialog:not(.open) * {
	visibility: hidden; /* blur */
}
#dialog::before { /* ::backdrop */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	cursor: pointer;
	content: "";
}
#dialog section {
	position: relative;
	width: 36em;
	max-height: 100vh;
	box-sizing: border-box;
	padding: .75em;
	margin: 0;
	overflow: auto;
	background-color: #fbfbfb;
}
@media (max-width:800px) {
	#dialog section {
		width: 23em;
	}
}

#dialog h3 {
	margin-bottom: .5em;
}
#close {
	position: absolute;
	font-size: 1.25em;
	top: .8em;
	right: .8em;
	padding: .1em;
	line-height: 1;
	font-weight: bold;
	cursor: pointer;
}
#close:hover {
	color: green;
}
#slider figure img,
#btns {
	height: 14em;
}