html {
	overflow-y: hidden;
}
body {
	position: relative;
	box-sizing: border-box;
	width: 30.3em;
	max-width: 100%;
	border: 0 solid transparent;
	border-width: 0 .15em;
	line-height: 1.6;
	counter-reset: qCnt rightCnt;
	transform: translateZ(0); /* Safari */
}
:checked ~ input, /* focusを解除する（blur） */
section:not(:target) {
	position: absolute;
	visibility: hidden; /* display:noneにするとcounterが動かない */
}
[id*="r"]:checked {
	counter-increment: rightCnt;
}

header,
div {
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
header {
	display: table;
	padding-top: 2.1rem;
	margin-bottom: .3em;
	counter-reset: choiceIndex;
	counter-increment: qCnt;
}

h1,
label {
	display: table;
	transition: transform .3s, box-shadow .3s, background-color .3s;
}
h1 {
	font-size: 1.05em;
	padding: .1em;
	border: 0 solid #aaa;
	border-width: .06rem 0;
	margin: 0;
	font-weight: normal;
}
label {
	table-layout: fixed;
	box-sizing: border-box;
	width: 100%;
	padding: .3em;
	margin: .2em 0;
	background-color: rgba(var(--bg-rgb, 0,110,255), var(--bg-opacity, .08));
	counter-increment: choiceIndex;
}
:checked ~ div label {
	pointer-events: none;
	--bg-rgb: 239,0,0;
}
:checked ~ div [for*="r"] {
	--bg-rgb: 0,139,0;
}
:nth-child(1):checked ~ :nth-of-type(1) label,
:nth-child(2):checked ~ :nth-of-type(2) label,
:nth-child(3):checked ~ :nth-of-type(3) label,
:nth-child(4):checked ~ :nth-of-type(4) label {
	outline: .1em dashed #777;
	outline-offset: -.1em;
}
input:nth-child(1):focus ~ :nth-of-type(1) label,
input:nth-child(2):focus ~ :nth-of-type(2) label,
input:nth-child(3):focus ~ :nth-of-type(3) label,
input:nth-child(4):focus ~ :nth-of-type(4) label,
div:hover label {
	--bg-opacity: .16;
}
:checked ~ header:focus h1,
:checked ~ div:focus label {
	transform: translateY(-.1em);
	box-shadow: 0 .15em .15em #aaa;
	--bg-opacity: .18;
}

small {
	position: absolute;
	font-size: .9rem;
	top: 100%;
	left: 0;
	width: 100%;
	margin-top: .3em;
	border-bottom: 9em solid transparent;
	table-layout: fixed;
	cursor: auto;
	background-color: #fbfbfb;
	display: none;
}
:checked ~ :focus-within small {display: table} /* Edgeは対応していない */
:checked ~ .forceSup small,
:checked ~ :hover small,
:checked ~ :focus small {
	display: table;
}
:checked ~ :hover:not(:focus) small {
	z-index: -1;
}

h1::before,
label::before,
small::before {
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
}
h1::before {
	content: "問" counter(qCnt) "：";
}
label::before {
	width: 1em;
	padding-right: .2em;
	content: counter(choiceIndex, upper-alpha);
}
small::before {
	width: 3em;
	content: "補足：";
}
:checked ~ header h1:not(:only-child)::before,
:checked ~ div label:not(:only-child)::before {
	font-weight: bold;
}

body::after,
.anchorButton {
	font-size: .95em;
	position: absolute;
	top: 0;
}
body::after {
	left: 0;
	right: 0;
	line-height: 2rem;
	text-align: center;
	content: counter(rightCnt) "問正解（全" counter(qCnt) "問）";
}
.anchorButton {
	width: 5em;
	z-index: 1;
}
[href^="#"] {
	right: 0;
	transition: opacity .3s;
	pointer-events: none;
	opacity: .4;
}
:checked ~ [href^="#"] {
	pointer-events: auto;
	opacity: 1;
}
[href^="#"]::after {
	content: "次へ";
}
[href="."]::after {
	content: "メニュー";
}

a:not([href]), /* FOUC */
.enlargeable {
	position: absolute;
	bottom: -.1em;
	right: 0;
	background-color: white;
	display: none;
}
:checked ~ .enlargeable,
.enlargeable img {
	height: 5em;
	display: block;
}

.overline {
	text-decoration: overline;
}
#darkgreen,
#steelgreen {color: white;}
#vividblue  {color: mediumblue;}
#darkgreen  {background-color: rgb(0,86,56);}
#steelgreen {background-color: darkslategray;}
#freshgreen {background-color: lightgreen;}
[id$="green"] {
	margin: 0 .1em;
	padding: 0 .4em;
}