body {
	transform: translateZ(0); /* safari */
	position: relative;
	box-sizing: border-box;
	width: 30.3em;
	max-width: 100%;
	border: 0 solid transparent;
	border-width: 0 .15em;
	counter-reset: qCnt rightCnt;
	line-height: 1.6;
}
input,
section:not(:target) {
	position: absolute;
	visibility: hidden; /* display:noneにするとcounterが動かない */
}
[id*="r"]:checked {
	counter-increment: rightCnt;
}
aside {
	font-size: .9em;
	position: absolute;
	top: 0;
	width: 100%;
}
aside::before {
	content: "ジャンル：";
}
aside::after {
	content: "　" counter(rightCnt) "問正解（全" counter(qCnt) "問）";
}

header,
div {
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
header {
	display: table;
	border-top: calc(.9em * 1.6) solid transparent;
	margin-bottom: .3em;
	counter-reset: choiceIndex;
	counter-increment: qCnt;
}

h1,
label {
	display: table;
	transition:	transform .3s, box-shadow .3s, background-color .3s;
}
h1 {
	font-size: 1.05em;
	padding: .1em;
	border: 0 solid #aaa;
	border-width: 1px 0;
	margin: 0;
	font-weight: normal;
}
label {
	table-layout: fixed;
	width: 100%;
	box-sizing: border-box;
	padding: .3em;
	margin: .2em 0;
	background-color: rgba(var(--bg-rgb, 0,110,255), var(--bg-opacity, .08));
	counter-increment: choiceIndex;
}
:checked ~ div label {
	pointer-events: none;
	--bg-rgb: 239,0,0;
}
:checked ~ div [for*="r"] {
	--bg-rgb: 0,139,0;
}
:nth-child(1):checked ~ :nth-of-type(1) label,
:nth-child(2):checked ~ :nth-of-type(2) label,
:nth-child(3):checked ~ :nth-of-type(3) label,
:nth-child(4):checked ~ :nth-of-type(4) label {
	outline: .1em dashed #777;
	outline-offset: -.1em;
}
div:hover label {
	--bg-opacity: .16;
}
header:focus h1,
div:focus label {
	transform: translateY(-.1em);
	box-shadow: 0 .15em .15em #aaa;
	--bg-opacity: .18;
}

small {
	position: absolute;
	font-size: .9rem;
	top: 100%;
	left: 0;
	width: 100%;
	border: 0 solid transparent;
	border-width: .2rem 0 9em;
	table-layout: fixed;
	cursor: auto;
	background-color: hsl(0,0%,99%);
	display: none;
}
:checked ~ .forceSup small,
:checked ~ :hover small,
:checked ~ :focus small {
	display: table;
}
:checked ~ :hover:not(:focus) small {
	z-index: -1;
}

h1::before,
label::before,
small::before {
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
}
h1::before {
	content: "問" counter(qCnt) "：";
}
label::before {
	width: 1em;
	padding-right: .2em;
	content: counter(choiceIndex, upper-alpha);
}
small::before {
	width: 3em;
	content: "補足：";
}
:checked ~ header h1:not(:only-child)::before,
:checked ~ div label:not(:only-child)::before {
	font-weight: bold;
}

div:last-of-type {
	margin-bottom: .3em;
}
:checked ~ div:last-of-type::after {
	float: left;
	margin: .25em .25em 0 0;
	pointer-events: none;
	content: "不正解";
}
[id*="r"]:checked ~ div:last-of-type::after {
	content: "正解";
}
[href^="#"]::after {
	content: "次の問題";
}
[href="./"]::after {
	content: "選択画面に戻る";
}
.anchorButton {
	display: none;
}
:checked ~ .anchorButton {
	display: inline-block;
}
a img {
	position: absolute;
	bottom: -.25em;
	right: 0;
	height: 3.5em;
	transition: height .5s;
	z-index: 1;
	display: none;
}
:checked ~ a img {
	display: block;
}
a:hover img {
	height: 10.5em;
}

.overline	{text-decoration: overline;}
#darkgreen,
#steelgreen	{color: white;}
#vividblue	{color: mediumblue;}
#darkgreen	{background-color: rgb(0,86,56);}
#steelgreen	{background-color: darkslategray;}
#freshgreen	{background-color: lightgreen;}
[id$="green"] {
	margin: 0 .1em;
	padding: 0 .4em;
}