audio {
	width: 25em;
	max-width: 100%;
}
.songSection header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	margin-bottom: 1em; /* h3 */
}
.songSection h3 {
	margin: 0 1em 0 0;
}
.songSection small {
	margin-left: auto;
	text-align: right;
	font-size: .9em;
}

/* flexで横並びにすると、子要素の高さが揃う */
.songSection ol {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style-type: simp-chinese-informal;
}
.songSection ol li {
	margin: 0 2em 1em 2.5em;
}
@media not all and (max-width:800px) {
	.songSection ol li:nth-child(2) {
		order: 3;
	}
}
.songSection ol li:only-child {
	list-style-type: none;
	margin-left: 1.5em;
}