.graph {
	position: relative;
	--y-axis-space: 2.1rem;
	padding-left: var(--y-axis-space);
	--unit: calc((39rem - var(--y-axis-space)) / 99);
}
#cap  {--n-max: 72;}
#grad {--n-max: 99;}

@media (max-width:800px) {
	.graph {
		overflow-x: scroll;
	}
}
.graph > * {
	width: calc(var(--unit) * var(--n-max));
}
.graph figcaption {
	font-size: 1.3em;
	position: absolute;
	top: 0;
	text-align: center;
	font-weight: bold;
}
.graph .fixedAspectRatio {
	border: 0 solid transparent;
	border-width: 2em 0;
	max-width: none;
}
.graph .fixedAspectRatio::before {
	padding-top: calc(40 * var(--unit)); /* 1600 / 40 = 600 / 15 */
}
.graph ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.hLines,
.vLines {
	display: flex;
	justify-content: space-between;
}
.hLines {
	flex-flow: column-reverse;
	counter-reset: tickValue;
	box-sizing: border-box;
}
#cap  .hLines {--tick-interval: 200;}
#grad .hLines {--tick-interval: 100;}

#cap  .vLines {
	width: calc(70 * var(--unit));
	counter-reset: tickValue 1950;
}
#grad .vLines {
	width: calc(90 * var(--unit));
	counter-reset: tickValue 1920;
}
.hLines *,
.vLines * {
	position: relative;
	font-size: .9em;
	border: 0 solid #aaa;
}
.hLines * {border-bottom-width: .06rem;}
.vLines * {border-left-width: .06rem;}

.hLines :not(:first-child),
.vLines :not(:first-child) {
	counter-increment: tickValue var(--tick-interval, 10);
}
.hLines ::before,
.vLines ::before {
	position: absolute;
	content: counter(tickValue);
	line-height: 0;
}
.hLines ::before {
	right: calc(100% + var(--unit));
}
.vLines ::before {
	bottom: -1.2em;
	left: calc(-1em - .06rem);
}

.graph .columns {
	display: flex;
	background: center/cover;
	margin-left: calc(var(--unit) / -2);
}
.columns * {
	font-size: .9em;
	position: relative;
	flex: auto;
	cursor: pointer;
	background: calc((var(--n) - 1) / (var(--n-max) - 1) * 100%)/cover;
}
#grad .columns :first-child {
	pointer-events: none;
}
.columns :hover {
	padding: 0 calc(var(--unit) / 2);
	margin: 0 calc(var(--unit) / -2);
}
#cap  .columns {background-image: url(/src/misc/cap.svg#lines);}
#grad .columns {background-image: url(/src/misc/grad.svg#areas);}
#cap  .columns :nth-child(odd ):hover {background-image: url(/src/misc/cap.svg#odd);}
#cap  .columns :nth-child(even):hover {background-image: url(/src/misc/cap.svg#even);}
#grad .columns :nth-child(odd ):hover {background-image: url(/src/misc/grad.svg#odd);}
#grad .columns :nth-child(even):hover {background-image: url(/src/misc/grad.svg#even);}

.columns ::before,
.columns ::after {
	position: absolute;
	top: calc(50% - 4em);
	left: 1.5em;
	width: 10em;
	padding: 0 .5em;
	border: .1em solid transparent;
	pointer-events: none;
	white-space: pre;
	line-height: .4;
}
#cap  .columns :nth-child(n+32)::before,
#cap  .columns :nth-child(n+32)::after,
#grad .columns :nth-child(n+47)::before,
#grad .columns :nth-child(n+47)::after {
	left: -12em;
}
.columns ::before {
	border-radius: 1em;
	background-color: rgba(255,255,255,.9);
	box-shadow: .2em .2em 1em #555;
}
.columns ::after {
	text-align: right;
}

.legend {
	font-size: .95em;
	text-align: center;
	padding: 0;
	margin: 0;
}
@media not all and (max-width:800px) {
	#cap .legend {
		position: absolute;
		left: 30rem;
		top: 50%;
		width: 8em;
		transform: translateY(-50%);
		text-align: left;
	}
}
.legend li,
.legend li::before {
	display: inline-block;
}
.legend li:not(:last-child) {
	margin-right: .75em;
}
.legend li::before {
	width: .5em;
	height: .5em;
	margin: .6em .25em 0 0;
	vertical-align: top;
	outline: .06rem solid black;
	content: "";
}
#cap .legend li::before {
	opacity: .9;
	outline-color: #999;
}
#grad .legend li::before {
	opacity: .4;
}
.mihara::before  {background-color: rgb(0, 86, 56);}
.shichi::before  {background-color: limegreen;}
.awaji::before   {background-color: darkcyan;}
.shinnyo::before {background-color: lightsalmon;}
.kojo::before    {background-color: gold;}
.sumoto::before  {background-color: dodgerblue;}

.columns :hover::after {
	content: "　\a\a　\a\a\a　\a\a\a\a\a"
		var(--data-1-value, "") "\a\a\a\a"
		var(--data-2-value, "") "\a\a\a\a"
		var(--data-3-value, "") "\a\a\a\a"
		var(--data-4-value, "");
}
[data-1] {--data-1-value: attr(data-1) "名";}
[data-2] {--data-2-value: attr(data-2) "名";}
[data-3] {--data-3-value: attr(data-3) "名";}
[data-4] {--data-4-value: attr(data-4) "名";}

.columns :hover::before {
	content: "　\a\a"
		"　　　" counter(year) "年度\a\a\a"
		"　　（" var(--era-name, "令和")
		var(--era-year,    counter(jpYear)) "年度）\a\a\a\a\a"
		var(--data-1-name, "三原高校") "\a\a\a\a"
		var(--data-2-name, "志知高校") "\a\a\a\a"
		var(--data-3-name, "淡路三原高校")
		var(--data-4-name, "") "\a\a\a";
	border-color: var(--border-color, darkcyan);
}
#cap  .columns {counter-reset: year 1950 jpYear 25;}
#grad .columns {counter-reset: year 1920 jpYear 9;}

.columns :not(:first-child) {
	counter-increment: year jpYear;
}
#cap  .columns :nth-child(70),  /*  70 - 40 + 1 = 31 令和 */
#grad .columns :nth-child(100), /* 100 - 70 + 1 = 31 令和 */
#cap  .columns :nth-child(40),  /*  25 + 40 - 1 = 64 平成 */
#grad .columns :nth-child(70),  /*  70 -  7 + 1 = 64 平成 */
#grad .columns :nth-child(7) {  /*   9 +  7 - 1 = 15 昭和 */
	counter-reset: jpYear 0;
	--era-year: "元";
}
#cap  .columns :nth-child(-n+69),
#grad .columns :nth-child(-n+99) {--era-name: "平成";}
#cap  .columns :nth-child(-n+39),
#grad .columns :nth-child(-n+69) {--era-name: "昭和";}
#grad .columns :nth-child(-n+6)  {--era-name: "大正";}

#grad .columns :nth-child(-n+55) {
	--data-2-name: "洲高緑分校";
	--data-3-name: "洲高西淡分校";
	--data-4-name: "\a\a\a\a洲高南淡分校";
	--border-color: dodgerblue;
}
#grad .columns :nth-child(-n+41) {
	--data-2-name: "洲高広田分校";
}
#grad .columns :nth-child(-n+38) {
	--data-3-name: "洲高御原分校";
}
#grad .columns :nth-child(-n+36) {
	--data-4-name: "\a\a\a\a洲高賀集分校";
}
#grad .columns :nth-child(-n+31) {
	--data-1-name: "組合立三原高女";
	--data-2-name: "県立三原高女";
	--data-3-name: "三原高女併設中";
	--data-4-name: "\a\a\a\a三原高校";
	--border-color: gold;
}
#grad .columns :nth-child(-n+24) {
	--data-1-name: "真如裁縫女学校";
	--data-2-name: "真如実科高女";
	--data-3-name: "真如高等女学校";
	--data-4-name: "";
	--border-color: lightsalmon;
}