.graph {
	position: relative;
	display: none\0; /* IE8+ */
	padding-left: 2em;
	--unit: calc(37rem / 99);
}
#cap  {--nmax: 72;}
#grad {--nmax: 99;}
@media (max-width:800px) {
	.graph {
		overflow-x: scroll;
	}
}
.graph > * {
	width: calc(var(--unit) * var(--nmax));
}
.graph figcaption {
	font-size: 1.3em;
	position: absolute;
	top: 0;
	text-align: center;
	font-weight: bold;
}
.graph .fixedAspectRatio {
	border: 0 solid transparent;
	border-width: 2em 0;
	max-width: none;
}
.graph .fixedAspectRatio::before {
	padding-top: calc(40 * var(--unit)); /* 1600 / 40 = 600 / 15 */
}

.hLines,
.vLines {
	display: flex;
	justify-content: space-between;
	padding: 0 calc(var(--unit) / 2);
}
.hLines {
	flex-flow: column-reverse;
	counter-reset: tickValue;
	box-sizing: border-box;
}
#cap  .hLines {--tick-interval: 200;}
#grad .hLines {--tick-interval: 100;}
      .vLines {--tick-interval: 10;}
#cap  .vLines {
	width: calc(70 * var(--unit));
	counter-reset: tickValue 1950;
}
#grad .vLines {
	width: calc(90 * var(--unit));
	counter-reset: tickValue 1920;
}
.hLines *,
.vLines * {
	position: relative;
	font-size: .85em;
	border: 0 solid #aaa;
}
.hLines * {border-top-width: 1px;}
.vLines * {border-left-width: 1px;}
.hLines :not(:first-child),
.vLines :not(:first-child) {
	counter-increment: tickValue var(--tick-interval);
}
.hLines ::before,
.vLines ::before {
	position: absolute;
	content: counter(tickValue);
	line-height: 0;
}
.hLines ::before {
	right: calc(100% + var(--unit));
}
.vLines ::before {
	bottom: -1.1em;
	left: -1.1em;
}

.columns,
.columns * {
	background-size: cover;
}
.columns {
	display: flex;
	background-position: center;
}
.columns * {
	font-size: .9em;
	position: relative;
	flex: auto;
	cursor: pointer;
	background-position: calc((var(--n) - 1) / (var(--nmax) - 1) * 100%);
}
.columns :hover {
	padding: 0 calc(var(--unit) / 2);
	margin: 0 calc(var(--unit) / -2);
}
#cap  .columns {background-image: url(img/cap.svg#lines);}
#grad .columns {background-image: url(img/grad.svg#areas);}
#cap  .columns :nth-child(odd ):hover	{background-image: url(img/cap.svg#odd);}
#cap  .columns :nth-child(even):hover	{background-image: url(img/cap.svg#even);}
#grad .columns :nth-child(odd ):hover	{background-image: url(img/grad.svg#odd);}
#grad .columns :nth-child(even):hover	{background-image: url(img/grad.svg#even);}
#grad .columns :first-child				{pointer-events: none;}

.columns ::before,
.columns ::after {
	position: absolute;
	top: calc(50% - 4em);
	left: 1.5em;
	width: 10em;
	padding: 0 .5em;
	border: .1em solid transparent;
	pointer-events: none;
	white-space: pre;
	line-height: .4;
}
#cap  .columns :nth-child(n+32)::before,
#cap  .columns :nth-child(n+32)::after,
#grad .columns :nth-child(n+47)::before,
#grad .columns :nth-child(n+47)::after {
	left: -12em;
}
.columns ::before {
	border-radius: 1em;
	background-color: rgba(255,255,255,.9);
	box-shadow: .2em .2em 1em #555;
}
.columns ::after {
	text-align: right;
}

.graph ul {
	font-size: .95em;
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}
@media not all and (max-width:800px) {
	#cap ul {
		position: absolute;
		left: 30rem;
		top: 50%;
		width: 8em;
		transform: translateY(-50%);
		text-align: left;
	}
}
.graph li,
.graph li::before {
	display: inline-block;
}
.graph li:not(:last-child) {
	margin-right: .5em;
}
.graph li::before {
	width: .5em;
	height: .5em;
	border: .05em solid #000;
	margin: 0 .25em 0 0;
	content: "";
}
#cap li::before {
	opacity: .9;
	border-color: #999;
}
#grad li::before {
	opacity: .4;
}
.graph li.mihara::before	{background-color: rgb(0, 86, 56);}
.graph li.shichi::before	{background-color: limegreen;}
.graph li.awaji::before		{background-color: darkcyan;}
.graph li.shinnyo::before	{background-color: lightsalmon;}
.graph li.kojo::before		{background-color: gold;}
.graph li.sumoto::before	{background-color: dodgerblue;}

.columns :hover::after {
	content: "　\a\a \a\a\a \a\a\a\a\a"
		var(--data-1-value, "") "\a\a\a\a"
		var(--data-2-value, "") "\a\a\a\a"
		var(--data-3-value, "") "\a\a\a\a"
		var(--data-4-value, "");
}
[data-1] {--data-1-value: attr(data-1) "名";}
[data-2] {--data-2-value: attr(data-2) "名";}
[data-3] {--data-3-value: attr(data-3) "名";}
[data-4] {--data-4-value: attr(data-4) "名";}

.columns :hover::before {
	content: "　\a\a"
		"　　　" counter(year) "年度\a\a\a"
		"　　（" var(--era-name, "令和")
		var(--era-year, counter(jpYear)) "年度）\a\a\a\a\a"
		var(--data-1-name, "三原高校") "\a\a\a\a"
		var(--data-2-name, "志知高校") "\a\a\a\a"
		var(--data-3-name, "淡路三原高校")
		var(--data-4-name, "") "\a\a\a";
	border-color: var(--column-color, darkcyan);
}
#cap  .columns {counter-reset: year 1950 jpYear 25;}
#grad .columns {counter-reset: year 1920 jpYear 9;}
.columns :not(:first-child) {
	counter-increment: year jpYear;
}
#cap  .columns :nth-child(70),	/*  70 - 40 + 1 = 31	令和 */
#grad .columns :nth-child(100),	/* 100 - 70 + 1 = 31	令和 */
#cap  .columns :nth-child(40),	/*  25 + 40 - 1 = 64	平成 */
#grad .columns :nth-child(70),	/*  70 -  7 + 1 = 64	平成 */
#grad .columns :nth-child(7) {	/*   9 +  7 - 1 = 15	昭和 */
	counter-reset: jpYear 0;
	--era-year: "元";
}
#cap  .columns :nth-child(-n+69),
#grad .columns :nth-child(-n+99) {--era-name: "平成";}
#cap  .columns :nth-child(-n+39),
#grad .columns :nth-child(-n+69) {--era-name: "昭和";}
#grad .columns :nth-child(-n+6)  {--era-name: "大正";}

#grad .columns :nth-child(-n+55) {
	--data-2-name: "洲高緑分校";
	--data-3-name: "洲高西淡分校";
	--data-4-name: "\a\a\a\a洲高南淡分校";
	--column-color: dodgerblue;
}
#grad .columns :nth-child(-n+41) {
	--data-2-name: "洲高広田分校";
}
#grad .columns :nth-child(-n+38) {
	--data-3-name: "洲高御原分校";
}
#grad .columns :nth-child(-n+36) {
	--data-4-name: "\a\a\a\a洲高賀集分校";
}
#grad .columns :nth-child(-n+31) {
	--data-1-name: "組合立三原高女";
	--data-2-name: "県立三原高女";
	--data-3-name: "三原高女併設中";
	--data-4-name: "\a\a\a\a三原高校";
	--column-color: gold;
}
#grad .columns :nth-child(-n+24) {
	--data-1-name: "真如裁縫女学校";
	--data-2-name: "真如実科高女";
	--data-3-name: "真如高等女学校";
	--data-4-name: "";
	--column-color: lightsalmon;
}