.frame {
	box-sizing: border-box;
	border: .06rem black solid;
	border-radius: .5em;
}
.boolean,
#displaySelection:not(:checked) ~ #selectionScreen,
#displaySelection:checked       ~ #typingScreen,
#displayResults:not(:checked)   ~ * #results {
	display: none;
}
#selectionScreen,
#typingScreen {
	height: 24em;
}

#selectionScreen {
	display: flex;
	position: relative;
	flex-direction: column;
}
#categoryTabs {
	order: -1;
	width: 100%;
	box-sizing: border-box;
	padding: 0 .5em;
}
#categoryTabs label {
	font-size: 1.05em;
	float: left;
	width: 5rem;
	box-sizing: border-box;
	border: .06rem solid black;
	border-bottom: none;
	margin-right: .25em;
	border-radius: .5em .5em 0 0;
	text-align: center;
	background-color: #ddd;
}
#categoryTabs :last-child {
	margin-right: 0;
	float: right;
}
[name="tab"]:nth-of-type(1):checked ~ #categoryTabs :nth-child(1),
[name="tab"]:nth-of-type(2):checked ~ #categoryTabs :nth-child(2),
[name="tab"]:nth-of-type(3):checked ~ #categoryTabs :nth-child(3),
[name="tab"]:nth-of-type(4):checked ~ #categoryTabs :nth-child(4),
[name="tab"]:last-of-type:checked   ~ #categoryTabs :last-child {
	background-color: transparent;
}
[name="tab"]:nth-of-type(1):focus ~ #categoryTabs :nth-child(1),
[name="tab"]:nth-of-type(2):focus ~ #categoryTabs :nth-child(2),
[name="tab"]:nth-of-type(3):focus ~ #categoryTabs :nth-child(3),
[name="tab"]:nth-of-type(4):focus ~ #categoryTabs :nth-child(4),
[name="tab"]:last-of-type:focus   ~ #categoryTabs :last-child {
	box-shadow: 0 0 0 .06rem dodgerblue;
}
[name="tab"]:not(:checked) + section {
	display: none;
}
[name="tab"] + section {
	width: 100%;
	height: 19em;
	padding: 1.25em 1em .75em 1.25em;
}
.themeButtons {
	display: flex;
	align-content: flex-start;
	flex-flow: column wrap;
}
@media (max-width:800px) {
	#categoryTabs label {
		width: 4rem;
	}
	[name="tab"] + section {
		padding: 1.25em .75em .5em 1em;
	}
	section.themeButtons {
		overflow-x: auto;
		padding-bottom: 0;
	}
	.themeButtons::after {
		width: 9.5em;
		height: .06rem;
		content: "";
	}
}
.themeButtons button {
	font-size: .9rem;
	width: 9.5em;
	padding: 0 .5em;
	box-sizing: border-box;
	border: none;
	margin: .15em 1em .15em 0;
	outline: .06rem solid #aaa;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: #eee;
	line-height: 2;
}
.themeButtons button:active,
.themeButtons button:focus {
	background-color: transparent;
}
#about:checked + section {
	display: flex;
	justify-content: space-between;
}
#about + section h3 {
	font-size: 1.1em;
	padding: 0;
	border: none;
	margin: 0 0 1em;
}

#rankList {
	width: 6em;
	flex-shrink: 0;
	padding: 0 2.5em;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	cursor: default;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	--unit-height: 1rem / 28; /* DからArrowまで入る高さ */
	visibility: hidden; /* FOUC */
}
@media (max-width:800px) {
	#rankList {
		width: 5em;
		padding-right: 0;
	}
}
#rankList li,
#rankList li::before {
	display: flex;
	justify-content: center;
	align-items: center;
}
#rankList li {
	font-size: .95em;
	position: relative;
	width: 100%;
	height: 99em;
	max-height: calc(var(--score-range) * var(--unit-height));
}
#rankList li:nth-last-child(n+7) { /* Falcon~ */
	--is-visible: calc(var(--high-score) - var(--inferior-score));
	height: calc((var(--is-visible) + 1) * 99em);
	z-index: var(--is-visible);
}
#rankList li:first-child { /* #rankList::afterが見切れないようにする */
	height: calc((var(--is-visible) - 30) * var(--unit-height));
	max-height: none;
}
#rankList li::before {
	position: absolute;
	height: 100%;
	background-color: var(--bg-white);
	pointer-events: none;
}
#rankList li:nth-last-child(n+6)::before { /* Arrow~ */
	left: -5em;
	max-width: calc(100% + 10em);
	width: calc((var(--required-score) - var(--high-score)) * 99em);
	content: "？";
}
#rankList li:hover::before {
	font-size: .9rem;
	left: 0; /* Safari */
	width: 100%;
	border-top: calc(.06rem * 2) solid transparent;
	box-sizing: border-box;
	background-clip: content-box;
	content: attr(data-required-kps) "打/秒";
}
#rankList::after,
#rankList li::after {
	font-size: .9rem;
	width: 100%;
	border-top: .06rem solid currentColor;
	line-height: 0;
	text-indent: 103%;
	content: attr(data-score);
}
#rankList::after {
	display: block;
	position: relative;
	z-index: 999;
	pointer-events: none;
	transform: translateY(calc(var(--high-score) * var(--unit-height) * -1));
}
@media (max-width:800px) {
	#rankList::after {
		direction: rtl;
		border-color: black;
		color: white;
		--text-shadow: 0 0 .15em black;
		text-shadow: var(--text-shadow), var(--text-shadow), var(--text-shadow);
	}
}
#rankList li::after {
	position: absolute;
	left: 0;
	bottom: -.06rem;
	direction: rtl;
}

[data-caption=""]::before,
[data-caption]:hover::before,
[data-caption]:focus::before {
	font-size: 1rem;
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2.5em;
	padding: 0 .75em;
	line-height: 1.2;
	box-sizing: border-box;
	align-items: center;
	white-space: normal;
	text-align: left;
	font-weight: normal;
	content: attr(data-caption);
}
[data-caption]:focus::before {
	z-index: 1;
	background-color: var(--bg-white);
}
[data-caption=""]::before {
	z-index: 2;
	outline: .06rem solid black;
	outline-offset: -.06rem;
}

@media (max-width:800px) {
	#typingScreen {
		font-size: calc(23.5em / 39);
	}
}
#typingScreen {
	position: relative;
	padding-top: .2em;
	box-sizing: border-box;
}
#typingScreen header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: .5em;
}
#typingScreen header div {
	width: 6.25em;
	white-space: nowrap; /* Safari */
}
#typingScreen header div:first-child {
	padding-left: .1em;
}
#typingScreen header div:last-child {
	text-align: right;
	padding-right: .1em;
}
#remainingNum {
	font-size: 1.3em;
	width: 1.2em;
	border: 0;
	margin-left: .2em;
	line-height: 1.25;
	text-align: right;
	background-color: transparent;
	color: black;
	-moz-appearance: textfield;
}
#remainingNum::-webkit-inner-spin-button,
#remainingNum::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#remainingNum:not(:disabled) {
	outline: .06rem solid #aaa;
	outline-offset: 0; /* Chrome */
}
#remainingNum:invalid {
	box-shadow: 0 0 .5em red;
}
#maxLines {
	font-size: 1.05em;
}
#maxLines::before {
	padding: 0 .25em 0 .4em;
	content: "/";
}
#textTitle {
	display: inline-block;
	font-size: 1.35em;
	font-weight: normal;
	padding: 0 .3em;
	border: 0;
	margin: 0;
	outline: .2em ridge #999;
}

#sentencesFrame {
	width: 100%;
	padding: .75em 0 .75em 1.25em;
	margin-bottom: .5em;
	--frame-shadow: .1em .15em .3em #aaa;
	box-shadow: var(--frame-shadow);
}
.frameOnTypo {
	animation: mistyped .75s;
}
@keyframes mistyped {
	from {box-shadow: var(--frame-shadow), 0 0 1.5em red inset;}
	to   {box-shadow: var(--frame-shadow), 0 0 0 red inset;}
}
#sentencesFrame p {
	margin: 0;
}
#rubyBase {
	font-size: 1.32em;
	line-height: 1.9;
}
#englishMode:not(:checked) ~ * #rubyBase,
#englishMode:not(:checked) ~ * #rubySentence {
	font-weight: bold;
}
#rubySentence {
	font-size: 1.2em;
	line-height: 1.9;
	color: silver;
}
#rubySentence :first-child {
	color: limegreen;
}
#romanized {
	font-size: 1.3em;
	color: silver;
}
#englishMode:checked ~ * #rubySentence {
	display: none;
}
#romanized :first-child {
	color: darkorange;
}
#invisibleMode:checked ~ * #typing p:not(#rubyBase) {
	color: transparent;
}
#nextSentence {
	margin: 0 0 .1em .3em;
}
#nextSentence::before {
	content: "次：";
}
[data-keycap],
.alphabet,
#shiftIsPressed:checked ~ * [data-on-shift] {
	position: relative;
	overflow: hidden;
	text-indent: -3em;
}
[data-keycap]::after,
.alphabet::after,
#shiftIsPressed:checked ~ * [data-on-shift]::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-indent: 0;
	content: attr(data-on-shift);
}
[data-keycap]::after {
	content: attr(data-keycap);
}

#results {
	position: absolute; /* clearfixが不要になる */
	left: 0;
	right: 0;
	bottom: 1.25em;
	width: 22em;
	padding: 1.25em;
	margin: auto;
	white-space: nowrap;
	background-color: var(--bg-white);
	z-index: 1;
}
#displayResults:checked ~ * #typing {
	opacity: .2;
}
#results h3 {
	font-size: 1.5em;
	padding: 0;
	border: 0;
	margin: 0;
	line-height: 1.2;
	text-align: center;
}
#results dl:first-of-type {
	font-size: 1.25em;
}
#results dl:not(:first-of-type) {
	font-size: 1.05em;
	float: left;
	width: 50%;
	margin: 0;
}
#results dd {
	border-bottom: .06rem solid #999;
	margin-bottom: .5em;
}
#results dt {
	float: left;
	width: calc(50% + .5em);
	text-align: right;
}
#results dt::after {
	content: "：";
}
#results dd::after {
	content: attr(data-unit);
}


#keyboard {
	touch-action: manipulation;
}
:root {
	--key-width: 2.25em;
	--key-height: 2.1em;
	--border-width: .2em;
	--key-gap: .2em;
	--hs: 0,0%;
	--max-l: 100%;
}
#invisibleMode:not(:checked) ~ * .candidate {
	--hs: 0,100%;
}
#invisibleMode:not(:checked) ~ * .otherCandidates {
	--hs: 210,100%;
}
#invisibleMode:not(:checked) ~ * .candidate,
#invisibleMode:not(:checked) ~ * .otherCandidates {
	--max-l: 95%;
	--text-l: 50%;
}
kbd {
	--top-color:  hsl(var(--hs), var(--max-l));
	--bg-color:   hsl(var(--hs), calc(var(--max-l) - 5%));
	--lr-color:   hsl(var(--hs), calc(var(--max-l) - 10%));
	--btm-color:  hsl(var(--hs), calc(var(--max-l) - 15%));
	--edge-color: hsl(var(--hs), calc(var(--max-l) - 25%));
	color:        hsl(var(--hs), var(--text-l, 0%));
	display: inline-block;
	font: inherit;
	box-sizing: border-box;
	width: var(--key-width);
	height: var(--key-height);
	border: var(--border-width) solid;
	border-color: var(--top-color) var(--lr-color) var(--btm-color);
	margin: var(--key-gap);
	border-radius: var(--border-width);
	background-color: var(--bg-color);
	box-shadow: 0 0 0 .1em var(--edge-color);
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
kbd.onType,
kbd.onType::after,
[data-pseudo-key]:focus,
#shiftIsPressed:checked ~ * #Shift {
	--top-color: hsl(var(--hs), calc(var(--max-l) - 28%));
	--bg-color:  hsl(var(--hs), calc(var(--max-l) - 15%));
	--lr-color:  hsl(var(--hs), calc(var(--max-l) - 20%));
	--btm-color: hsl(var(--hs), calc(var(--max-l) - 10%));
	line-height: 1.8;
}

[data-pseudo-key="Tab"]   {width: 3em;}
[data-pseudo-key="Shift"] {width: 4.5em;}
[data-code="ShiftRight"]  {width: 3.9em;}
#Hankaku  {width: 1.4em;}
#Tab      {width: 2.75em;}
#CapsLock {width: 3.75em;}
#Shift    {width: 5em;}
#Space {
	width: 8em;
	margin-left: 13.5em;
}
#englishMode:not(:checked) ~ * #Space {
	display: none;
}
#Enter {
	--rows-shift: 1em; /* tab-width - capslock-width */
	--enter-width: 2.5em;
	position: relative;
	width: calc(var(--enter-width) + var(--rows-shift));
}
#Enter::before,
#Enter::after {
	position: absolute;
	top: calc(-1 * var(--border-width));
	box-sizing: border-box;
	border: inherit;
	background-color: inherit;
	content: "";
}
#Enter::before {
	left: calc(var(--rows-shift) - var(--border-width));
	width: var(--enter-width);
	height: calc(var(--key-height) * 2 + var(--key-gap) * 2);
	box-shadow: inherit;
	border-radius: inherit;
	border-top-left-radius: 0;
}
#Enter::after {
	left: .05em;
	width: var(--rows-shift);
	height: var(--key-height);
	border-style: solid none;
}